@charset "UTF-8";

:root { /* Variaveis */
    --text-borda: 2px 0px black, 0px 2px black, -2px 0px black, 0px -2px black;

    --background-color: #9904D9;
    --background-color2: #2c0aa6;
    --background-color3: #6907F2;
    --background-color4: #ffff;

    --btn-color: #2c0aa6;

    --text-color1: black;
    --text-color2: #ff3939;
    --text-color3: #DCE6F2;
}

html { /* padrões do site */
    font-size: 16px;
}

html, body { /* padrões do corpo junto ao do site */
    overflow: hidden;
    height: 100%;
}

body { /* padrões do corpo */
    background-color: var(--background-color);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
}

img { /* Logo do coelho */
    display: block;
    
    width: 10em;

    margin-left: auto;
    margin-right: auto;
}


form { /* Formulario de login */
    background-color: none /* #6907F2 */;
    
    font-size: 2em;
}
fieldset { /* Aréa do login */
    width: 1em;
    
    margin: 0 auto -35px;
    
    border: none;
}

legend { /* legenda do Login */
    display: none;
}
label { /* Titulo das aréas */
    margin-left: .5em;
    margin-top: .3em;

    color: var(--text-color3);
    text-shadow: var(--text-borda);
    font-weight: bold;
}
#login,
#senha {  /* aréas de informação */
    width: 6em;

    background-color: var(--background-color4);

    color: var(--text-color1);
    letter-spacing: 2.5px;
    
    border-radius: 35px;
    border: 2px solid black;
    
    padding: .2em;
    
    margin: 10px 0 .6em;
    transition: all ease-in-out .5s;
}
#login:focus,
#senha:focus {  /* aréas de informação focada */
    outline: none;
    border-color: red;
}

#btn { /* aréa dos botões */
    display: block;

    width: 100%;
    
    margin: 2rem 1em 3rem;
}
#correr,
#regis { /* botões */
    background-color: var(--btn-color);
    
    color: #DCE6F2;
    text-shadow: var(--text-borda);

    padding: 10px .3em;
    
    margin-bottom: 30px;
    
    border: 2px solid black;
    border-radius: 35px;
}
#regis { /* Botão Registrar */
    color: var(--text-color2);
    text-shadow: var(--text-borda);
}


footer { /* Rodapé */
    position: fixed;
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: auto;
    
    background-color: black;
    
    text-align: center;
}
footer p { /* Texto do rodapé */
    font-size: .5em;
    color: var(--text-color3);
    
    padding: .5em;
    
    margin: 0;
}

@media screen and (min-width: 550px) { /* Tela Web */
    #tela { /* aréa da tela */
        display: flex;

        margin-top: .3em;
    }

    img { /* Logo de coelho */
        height: 4.5em;
        width: 5em;
        
        margin-top: 2.6em;
    }


    legend { /* legenda do Login */
        display: block;
        
        transform: translate(3em, .8em);
        
        width: 4em;
        
        background-color: #9904D9;
        
        margin-left: 3em;
        
        padding: .3em .8em;
        
        border: 1px solid black;
        border-radius: 25px;
        
        font-size: .4em;
    }
    fieldset { /* Aréa do login */
        float: right;

        height: 2.3em;
        width: 3.8em;

        background-color: var(--background-color3);
        
        border: 2px solid black;
        border-radius: 55px;
        
        margin: 0 .8em 0 0;
    }

    .text {  /* divisoria das informações */
        display: flex;

        margin: .3em 0;
    }
    label { /* Titulo das aréas */
        display: block;

        margin-left: 0;
        margin-right: 1em;
        margin-bottom: 0;

        padding: .3em 0;
        
        font-size: .4em;
        font-weight: bold;
    }
    #login,
    #senha { /* aréas de informação */
        width: 10em;

        font-size: .25em;
        
        border-radius: 35px;
        border: 2px solid black;
        
        padding: .8em 1em;
        
        z-index: 1;
    }
    #senha { /* aréa texto */
        margin-left: -.5em;
    }

    #btn { /* aréa dos botões */
        position: relative;

        transform: translate(2em, -1em);
        
        font-size: .4em;
        
        margin-left: 1.4em;
    }
    #regis { /* Botão Registrar */
        margin-left: 1.2em;
    }
    

    footer p { /* Texto do rodapé */
        color: white;
        font-size: .15em;

        padding: .2em;
        
        margin: 0;
    }
}